@{
    ViewData["Title"] = "Education";
}
<h1>Образование</h1>
<div>Учусь на 4 курсе бакалавриата в Ижевском государственном техническом университете по направлению "Прикладная математика".</div>
<div>Кроме того, прохожу курсы в компьютерной академии "TOP".</div>