
@{
    ViewData["Title"] = "Hobby";
}

<h1>Хобби</h1>
<div>Люблю играть в соревновательные компьютерные игры, такие как:</div>
<ul>
    <li>Dota 2</li>
    <li>Apex legends</li>
    <li>Dead by daylight</li>
    <li>Tekken 7</li>
    <li>Hearthstone</li>
</ul>
<div>Одиночные игры не люблю, считаю их скучными и предпочитаю смотреть прохождение или обзор 
    заинтересовавшей одиночной игры на ютубе.</div>
<div>Раньше еще любил играть в cs go, но желание играть отбили читеры на высоких рангах. На соревновательную платформу Faceit не переходил, так как был слабый компьютер.</div>
<div>В школьные годы мечтал стать киберспортсменом по cs go или dota 2 и начать стримить на платформе Twitch, но стать стримером мне помешал слабый компьютер, а киберспортсменом - родители.</div>
<div>Поэтому я выбрал путь, который устраивает всех - путь программиста.</div>