
@{
    ViewData["Title"] = "Skills";
}

<h1 class="text-center">Навыки</h1>
<h2>Программирование</h2>
<div>C#</div>
<ul>
    <li>Асинхронное программирование</li>
    <li>Сетевое программирование</li>
    <li>Entity Framework</li>
    <li>Dependency injection: Grace framework</li>
    <li>WPF/WinForms</li>
    
    <li>Mvvm: mmvm light framework</li>
    <li>Принципы solid</li>
</ul>
<div>c++</div>
<ul>
    <li>Асинхронное программирование</li>
    <li>Сетевое программирование</li>    
</ul>
<div>Python</div>
<ul>
    <li>Общий синтаксис</li>
    <li>Qt designer</li>
</ul>

<li>Паттерны программирования</li>
<li>Принципы solid</li>
<li>UML диаграммы</li>
<li>Html/css/bootstrap</li>
<li>js/jQuery</li>
<li>Vue.js</li>
<li>Next.js</li>
<li>React</li>
<li>Git</li>
<li>MS SQL</li>

<h2>Общие</h2>
<div>Английский язык - B2</div>

<h2>Личные качества</h2>
<li>Дисциплинированность</li>
<li>Прямолинейность</li>
<li>Исполнительность</li>
<li>Усидчивость</li>
<li>Трудолюбие</li>